<% @page_title = "Create a New Location" %>

<div class="full">
	<div class="wrap">
		<h1><%= @page_title %></h1>
		<div class="col-md-9"><%= render 'form' %></div>

		<div class="col-md-3">
				<h4>Import Locations</h4>
				<%= form_tag import_clinics_path, multipart: true do %>
				  <%= file_field_tag :file %>
				  <br>
				  <%= submit_tag "Import" %>
				<% end %>
		</div>
	</div>
</div>
