<% @page_title = "Home" %>
<% @page_description = "New Description" %>
<!-- https://stock.adobe.com/search?serie_id=102483434&load_type=see_more&prev_url=detail -->
<!-- https://stock.adobe.com/search?serie_id=170572779&load_type=see_more&prev_url=detail -->

<div class="hero-home">
	<div class="wrap">
		<h1>Get DNA Tested Today</h1>
		<h2>Easy as swab, 2, 3...</h2>
		<h3>Call Us Today: <%= phone %></h3>
	</div>
</div>


<div class="dna">
	<div class="inner">
		<div class="left">
		<%= image_tag('preview11.png', alt: 'Get DNA Tested Today: genetic markers image', class: 'img-responsive') %>
		</div>

		<div class="right">
			<h3>Get DNA Tested Today provides accurate &amp; reliable, non-invasive DNA Paternity Testing.<br> <b>Over 2,445 accredited locations nationwide!</b></h3>
			<%= link_to "Find One Near You", root_path, class: 'link-a' %>
			<br><br>
			<!-- <p>Or Call Us Today:</p>
			<h2> <%= phone %></h2> -->
		</div>
	</div>
</div>

<div class="call-block">
	<div class="inner">
		<!-- <%= image_tag('preview-16.png', alt: 'Get DNA Tested Today: genetic markers image', class: 'img-icon') %>  -->
		<h3>Please call us, toll-free, if you have any questions, <br>or would like to schedule a DNA/Paternity Test<br>
		<%= phone %></h3>
	</div>
</div>



<div class="legal-lt">
	<div class="inner">
		<div class="left">
			<h2>Legal &amp; Non-Legal<br> DNA &amp; Paternity Testing Options</h2>
			<p>All samples are taken by gently rubbing a soft swab on the inside of the cheek, so testing is painless and non-invasive.</p>
			<%= link_to "View All Options", root_path, class: 'link-a' %>
		</div>

		<div class="right">
			<%= image_tag('23b.png', alt: 'Get DNA Tested Today: genetic markers image', class: 'img-responsive') %>
		</div>
	</div>
</div>


<div class="profile">
	<div class="inner">
		<div class="left">
			<%= image_tag('23b.png', alt: 'Get DNA Tested Today: genetic markers image', class: 'img-responsive') %>
		</div>

		<div class="right">
			<h2>Get Your Full Genetic Profile</h2>
			<p>
				A person's DNA profile is as unique to them as their fingerprints.<br>
				Your genetic profile can teach you so many things about your health. How well do you know yourself?
				<!-- DNA profiling allows individuals to obtain a record of their genetic profile — a unique combination of 16 markers found in their DNA that serves as a permanent genetic ID. -->
			</p>
			<%= link_to "View & Schedule", root_path, class: 'link-a' %>
		</div>
	</div>
</div>

<div class="homekit">
	<div class="inner">
		<div class="left">
			<%= image_tag('test-kit-slide.png', alt: 'Get DNA Tested Today: genetic markers image', class: 'img-responsive') %>
		</div>

		<div class="right">
			<h2>Home Testing Kit</h2>
			<p>The Home Paternity DNA Test Kit provides paternity testing in the comfort and privacy of your home, with 99.9% accuracy. One low price includes testing kit, shipping, and results.</p>
			<%= link_to "Request a Kit", root_path, class: 'link-a' %>
		</div>
	</div>
</div>

<!-- <div class="us">
	<div class="inner">
		<div class="one">
		</div>

		<div class="two">
			<p>Accurate DNA &amp; Paternity Testing</p>
			<p>Fast &amp; Reliable Results</p>
			<p>Nationwide Testing Locations</p>
			<p>Payment Plans Available</p>
			<p>AABB &amp; ISO 17025 Accredited Labs</p>
		</div>

		<div class="three">
			<p><b>Your privacy is of utmost importance to us.</b><br>
			None of your information, genetic or other, will ever be shared with a third party -- i.e., insurer, employer, medical practitioner -- without your express written permission.
			Any and all personal data can be destroyed on request.</p>
		</div>
	</div>
</div> -->

<!-- <div class="container">
	<div class="col-md-8 center-block">
		<ul uk-accordion="multiple: true">
			<li>
        <div class="uk-accordion-title">Item 1</div>
        <div class="uk-accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
      </li>

      <li>
        <div class="uk-accordion-title">Item 2</div>
        <div class="uk-accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
      </li>

      <li>
        <div class="uk-accordion-title">Item 3</div>
        <div class="uk-accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
        </div>
      </li>
    </ul>

	</div>
</div>
-->
<!--
Register Online!
Fast, Easy and Accurate
DNA Testing
At A Location Near You
Register Now!



Our DNA Testing Options
Grand Paternity Testing
Non-Legal Paternity Testing
Avuncular DNA Testing
DNA Sibling-ship Testing
Legal DNA/Paternity Testing
-->
