<li>
  <div class="panel panel-default" data-chatroom-id="<%= chatroom.id %>">
    <div class="panel-heading">
      <%= link_to chatroom.opposed_user(user).email, '', class: 'toggle-window' %>
      <%= link_to "x", close_chatroom_path(chatroom), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="panel-body" style="display: none;">
      <div class="notes-list">
        <ul>
          <%= render 'chatrooms/chatroom_content', notes: chatroom.notes, user: user %>
        </ul>
      </div>

      <form class="new_note">
        <input name="chatroom_id" type="hidden" value="<%= chatroom.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="form-control"></textarea>
        <br>
        <input type="submit" class="btn btn-success" value="Send">
      </form>

    </div>
  </div>
</li>

<!-- form_for [chatroom, chatroom.notes.new], remote: true do |f|
f.hidden_field :user_id, value: user.id
f.text_area :body, class: "form-control"
f.submit "Send", class: "btn btn-success"
end -->
