<% @page_title = "Live Chat" %>

<div class="full">
	<div class="wrap">
		<h1 class="text-center"><%= @page_title %> </h1>
		<hr class="title-line center-block">
		<div class="clearfix"></div>

		<div class="row chat-container">
		  <div class="col-md-10 center-block">
		    <div class="messages" id="messages">
		      <%= render @messages %>
		    </div>
		    <hr />
		  </div>
	  </div>

	  <div class="message-container">
		  <div class="col-md-6 col-md-offset-1">
	      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
		      <%= f.text_area :content, class: "form-control", placeholder: "How can we help you today?" %>

		      <%= f.submit "Send", class: 'btn btn-primary' %>
		    <% end %>
		  </div>
    </div>

	</div>
</div>
