<% @page_title = "Paternity Testing Locations" %>
<% @page_description = "New Description" %>

<div class="all-states">
	<div class="wrap">
		<div class="col-md-12">
			<h1><%= @page_title %></h1>
			<%= link_to("Add New State", new_state_path, :class => 'action new btn-add inline') %>
			<%= link_to("Add New City", new_town_path, :class => 'action new btn-add inline') %>
		</div>

		<table class="listing">
			<% @states.each do |state| %>
		  <tr>
		    <td><h4 class="state-name"><%= link_to state.name, state_path(state) %></h4></td>
		    <td class="actions">
		      <small><%= link_to("Edit", edit_state_path(state)) %></small>
		    </td>
		  </tr>
		  <% end %>
		</table>
	</div>
</div>



<!-- state26 = State.create(name: "Nebraska", abv: "NE") -->
