<% @page_title = "DNA & Paternity Testing Locations" %>
<% @page_description = "New Description" %>

<div class="all-states">
	<!-- <div class="tbanner"><h1><%= @page_title %></h1></div> -->

	<div class="top">
		<div class="inner">
			<div class="one">
				<h1><%= @page_title %></h1>
				<p>Get DNA Tested Today provides affordable DNA/Paternity Testing in over 2500 locations nationwide.
				Each of our locations are certified and accredited by the AABB and ISO 17025.</p>

				<p>Follow the link below to learn more about each of our DNA/Paternity testing options, and schedule your testing appointment online. </p>
				<div class="clearfix"></div>
				<div class="test-row"><%= link_to "Learn More", testing_path, class: 'tests' %></div>
			</div>

			<div class="two">
				<%= image_tag('icon-loc.png', alt: '') %>
			</div>

			<div class="add-btns-blk">
				<%= render 'shared/add_btns' %>
			</div>
		</div>
	</div>



	<div class="newlist">
		<h2>Choose a state from the list below to find a location near you.</h2>
		<div class="states-dd">
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Select a State <i class="fa fa-angle-down"></i>
			  </button>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<% for state in @states %>
					 	<%= link_to state_path(state), class: 'dropdown-item' do %>
					 		<%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %>
							<%= state.name %>
					 	<% end %>
				  <% end %>

			  </div>
			</div>
		</div>
	</div>


	<div class="call-block">
		<div class="inner">
			<div class="one">
				<h3>If you have any questions, or would like to speak to a certified collector, give us a call:<br> <span><%= phone %></span></h3>
			</div>

			 <div class="two">
				<%= image_tag('test-icon.png', alt: '') %>
			</div>
		</div>
	</div>

	<div class="full sl">
		<div class="wrap">

			<table class="listing state-list uno">
				<% for state in @cols_o %>
					<tr class="tfw">
					  <td class="ss"><%= link_to state_path(state) do %><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %><% end %></td>
					 	<td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list dos">
				<% for state in @cols_t %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %></td>
			  	 	<td class="sn">
			  	 		<%= link_to state_path(state) do %>
			  		 		<h4 class="state-name"><%= state.name %></h4>
			  		 	<% end %>
			  		 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list tres">
				<% for state in @cols_th %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %></td>
					  <td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list quatro">
				<% for state in @cols_fo %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %> </td>
						<td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>
		</div>
	</div>
</div>



<!-- state26 = State.create(name: "Nebraska", abv: "NE") -->
<!-- .each do |state|  -->
<!-- for state in @cols_one  -->
