<% @page_title = "Paternity Testing Locations" %>
<% @page_description = "New Description" %>

<div class="all-states">
	<div class="top">
		<div class="inner">
			<div class="one">
				<h1><%= @page_title %></h1>
				<p>Get DNA Tested Today provides affordable DNA/Paternity Testing at over 2500 locations nationwide.
				All of our testing locations are certified and accredited by the AABB and ISO 17025.</p>
				<p><b><%= link_to "Click Here", testing_path, class: 'tests' %></b> to learn more about our testing options, and schedule your testing appointment today! </p>
				<!-- <p>If you have any questions, or want to speak to a certified collector, give us a call:<br> <span><%= phone %></span>.</p> -->
			</div>

			<div class="two">
				<!-- <%= image_tag('colorful-map.png', alt: '') %>  -->
				<%= image_tag('gps2.png', alt: '') %>
			</div>

			<div class="add-btns-blk">
				<%= render 'shared/add_btns' %>
			</div>
		</div>
	</div>

	<div class="call-block">
		<h3>If you have any questions, or would like to speak to a certified collector, give us a call:<br> <span><%= phone %></span></h3>
	</div>

	<div class="full sl">
		<div class="wrap">

			<table class="listing state-list uno">
				<% for state in @cols_o %>
					<tr class="tfw">
					  <td class="ss"><%= link_to state_path(state) do %><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %><% end %></td>
					 	<td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list dos">
				<% for state in @cols_t %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %></td>
			  	 	<td class="sn">
			  	 		<%= link_to state_path(state) do %>
			  		 		<h4 class="state-name"><%= state.name %></h4>
			  		 	<% end %>
			  		 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list tres">
				<% for state in @cols_th %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %></td>
					  <td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>

			<table class="listing state-list quatro">
				<% for state in @cols_fo %>
					<tr class="tfw">
					  <td class="ss"><%= image_tag("seals/#{state.name.upcase}.png", class: 'state-icons') %> </td>
						<td class="sn">
					 		<%= link_to state_path(state) do %>
						 		<h4 class="state-name"><%= state.name %></h4>
						 	<% end %>
						 </td>

						<% if user_signed_in? && current_user.admin? %>
					  	<td class="print"><p class="info"><%= state.abv %> &nbsp;&nbsp; (<%= state.towns.count %>)</p></td>
					  <% end %>
					</tr>
			  <% end %>
			</table>
		</div>

	</div>
</div>



<!-- state26 = State.create(name: "Nebraska", abv: "NE") -->
<!-- .each do |state|  -->
<!-- for state in @cols_one  -->
