<% @page_title = @state.name.capitalize %>

<div class="full">
	<div class="wrap">
	  <h1>Get DNA Tested Today in <span><%= @state.name %></span></h1>
	  <hr class="title-line">
		<div class="clearfix"></div>

		<%= render 'shared/add_btns' %>
		<%= render 'shared/dna-text' %>
	</div>

	<div class="all-towns">
		<div class="wrap">

  		<% if @state_towns.count != 0 %>
				<table class="listing">
					<% @state_towns.each do |town| %>
						<tr>
						  <td><h4 class="state-name"><%= link_to town.townname.capitalize, town_path(town) %></h4></td>
						  <!-- (<%= town.id %>)  -->
					    <td><p><small>(<%= town.clinics.count %>)</small></p></td>
							<td class="actions">
					      <small><%= link_to("Edit", edit_town_path(town)) %></small>
					    </td>
					  </tr>
		  		<% end %>
				</table>
  		<% else %>
			 	<p>Unfortunately, we have no testing locations in <%= @state.name %>, but you can still follow the link below, and order an At Home DNA Test Kit Today!</p>
			<% end %>
		</div>
	</div>

	<div class="wrap">
		<%= link_to("Back to States", states_path, :class => 'back-link') %>
	</div>
</div>
