<% @page_title = @town.townname %>

<div class="full">
	<div class="wrap">
	  <h1>Get DNA Tested Today in <span><%= @town.townname %>, <%= @state.abv %></span></h1>
	  <hr class="title-line">
		<div class="clearfix"></div>
		<%= link_to "Delete This City", town_path(@town), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger" %>
		<%= link_to("Add New Location", new_clinic_path, :class => 'action new btn-add inline') %>
		<%= render 'shared/dna-text' %>
	</div>
	<div class="clearfix"></div>

	<div class="wrap clinics">
		<% if @town_clinics.count != 0 %>
			<table class="clinics">
				<% @town_clinics.each do |clinic| %>
					<div class="clinic-bx">
			    	<h4><%= clinic.address %><br>
				    <%= @town.townname %>, <%= @state.abv %> <%= clinic.zipcode %></h4>
						<div class="actions"><small><%= link_to("Edit Location", edit_clinic_path(clinic)) %></small></div>
					</div>
	  		<% end %>
			</table>
			<% else %>
				<p>This is where each location's address will be listed...</p>
		<% end %>
	</div>

	<div class=" wrap">
		<%= link_to("Back to #{@state.name}", state_path(@state), :class => 'back-link') %>
	</div>

</div>
