<% @page_title = "Our Locations" %>

<%= tag.div class: 'full' do %>
	<%= tag.div class: 'wrap' do %>
		<%= tag.h1 @page_title %>
		<hr class="title-line">
		<div class="clearfix"></div>
		<%= render 'shared/dna-text' %>
		<br><hr><br>

		<%= tag.div class: 'col-md-5' do %>
			<%= render 'shared/search_btn' %>
		<% end %>

		<%= tag.div class: 'col-md-5 col-md-offset-1' do %>
			<%= render 'shared/add_btns' %>
		<% end %>

		<div class="clearfix"></div>
		<br><hr><br>
	<% end %>
<% end %>

<%= tag.div class: 'full' do %>
	<%= tag.div class: 'wrap location-map' do %>
		<%= tag.div class: 'col-md-4 col-md-offset-1' do %>

			<%= tag.table class:'loclist' do %>
				<% @locations.each do |location| %>
				  <%= tag.div class:'townlisting-bx' do %>
						<h4><%= simple_format(location.full_address)%></h4>
		  			<% if user_signed_in? && current_user.admin? %>
		  				<% if location.longitude == nil %>**<small>Coordinates Missing**</small><% end %>
		  				<div class="actions"><small><%= link_to("Edit Location", edit_location_path(location)) %></small></div>
		  			<% end %>
				  <% end %>
			  <% end %>
			<% end %>
		<% end %>

		<%= tag.div class: 'col-md-5' do %>
			<%= render 'shared/map' %>
		<% end %>

	<% end %>
<% end %>
