<% @page_title = "Locations" %>

<div class="full">
	<div class="wrap">
		<h2>Import Locations</h2>
		<%= form_tag import_locations_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <br>
		  <%= submit_tag "Import" %>
		<% end %>
	</div>
</div>

<div class="full">
	<div class="wrap">
		<h1><%= @page_title %> </h1>
		<hr><br>
		<table class="loclist">
			<% @locations.each do |location| %>
			  <tr class="townlisting-bx">
					<h4><%= simple_format(location.full_address)%></h4>
			  </tr>
		  <% end %>
		</table>
	</div>
</div>


<!--
ROO (save until reversed)
##routes.rb
resources :towns do
  collection do
    post :import
  end
end

##towns_controller
def import
  Product.import(params[:file])

  redirect_to root_url, notice: 'Products imported.'
end
-->
