<li class="nav-li"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'Locations', states_path, class: 'nav-link' %></li>
<% if user_signed_in? && current_user.admin? %><li class="nav-li"><%= link_to 'Locations (full)', locations_path, class: 'nav-link' %></li><% end %>
<li class="nav-li"><%= link_to 'Testing Options', options_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'Our Process', our_process_path, class: 'nav-link' %></li>
<li class="nav-li"><%= link_to 'Chat', chats_path, class: 'nav-link' %></li>

<% if user_signed_in? %>
  <li class="nav-li"><%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
  <div id="current-user"></div>

  <% if current_user.admin? %>
    <li class="nav-li"><%= link_to "#{current_user.name}*", edit_user_registration_path, class: 'nav-link' %></li>
  <% else %>
    <li class="nav-li"><% if current_user.is_guest? %>* <% end %><%= link_to current_user.name, edit_user_registration_path, class: 'nav-link' %></li>
  <% end %>

  <% else %>
  <li class="nav-li ft-only"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
  <li class="nav-li ft-only"><%= link_to 'Log In', new_user_session_path, class: 'nav-link' %></li>
  <li class="nav-li ft-only"><%= link_to "Continue as Guest", guest_users_path, method: :post, class: 'nav-link' %></li>

<% end %>
